---
import { Image } from "astro:assets";
import GridSection from "@/components/GridSection.astro";
import HeaderSection from "@/components/HeaderSection.astro";

type Props = {
  image: ImageMetadata;
  alignment?: "left" | "right";
};

const { image, alignment = "left" } = Astro.props;
---

<GridSection>
  <HeaderSection>
    <Fragment slot={"tagline"}><slot name="tagline" /></Fragment>
    <Fragment slot={"headline"}><slot name="headline" /></Fragment>
    <Fragment slot={"description"}><slot name="description" /></Fragment>
  </HeaderSection>

  <div
    class:list={[
      "col-span-full desktop:col-span-6",
      alignment === "right" && "order-1",
    ]}
  >
    <slot />
  </div>

  <Image
    src={image}
    alt=""
    width={image.width}
    height={image.height}
    densities={[1, 1.5, 2]}
    class="col-span-full max-h-[180px] rounded-xl object-cover shadow-lg tablet:max-h-[394px] desktop:col-span-6"
  />
</GridSection>
