---
import Card from "@/components/Card.astro";
import Avatar from "@/components/Avatar.astro";
import Button from "@/components/Button.astro";
import Github from "@/icons/Github.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Instagram from "@/icons/Instagram.astro";
import Twitter from "@/icons/Twitter.astro";

type Props = {
  image: ImageMetadata;
  name: string;
  tagline: string;
  github?: string;
  linkedin?: string;
  instagram?: string;
  twitter?: string;
};

const { image, name, tagline, github, linkedin, instagram, twitter } =
  Astro.props;
---

<Card class="flex flex-col gap-10 px-4 py-6">
  <div class="flex flex-col items-center gap-6">
    <Avatar image={image} loading="eager" class="h-16 w-16" />
    <header class="flex flex-col items-center gap-1">
      <h1 class="text-xl">{name}</h1>
      <p class="text-sm">{tagline}</p>
    </header>
    <p class="text-center"><slot /></p>
  </div>
  <div class="flex flex-col gap-6">
    <Button size="lg" variant="primary">Contact me</Button>
    <div class="flex justify-center gap-4">
      {
        github && (
          <Button
            variant="link-color"
            href="#"
            ariaLabel="Link to Github profile"
          >
            <Github />
          </Button>
        )
      }
      {
        linkedin && (
          <Button
            variant="link-color"
            href="#"
            ariaLabel="Link to LinkedIn profile"
          >
            <LinkedIn />
          </Button>
        )
      }
      {
        instagram && (
          <Button
            variant="link-color"
            href="#"
            ariaLabel="Link to Instagram profile"
          >
            <Instagram />
          </Button>
        )
      }
      {
        twitter && (
          <Button
            variant="link-color"
            href="#"
            ariaLabel="Link to Twitter profile"
          >
            <Twitter />
          </Button>
        )
      }
    </div>
  </div>
</Card>
