---
type Props = {
  class?: string;
};
---

<section
  class:list={[
    "grid-layout",
    Astro.props.class
      ? Astro.props.class
      : "mx-4 my-12 gap-y-12 tablet:my-16 tablet:gap-y-16 desktop:mx-24 desktop:my-24",
  ]}
>
  <slot />
</section>
